<%= form_for @user do |f| %>
  <div class="container text-center sign_up_form_top">
  <h2>Sign Up</h2>

  <div class="col-lg-12 form_div">
    <%= f.text_field :name, class: 'text_field', placeholder: 'Name'  %>
  </div>

  <div class="col-lg-12 form_div">
    <%= f.text_field :email, class: 'info_responsive-input', placeholder: 'Email'  %>
  </div>

  <div class="col-lg-12 form_div">
    <%= f.password_field :password,required: true, class: 'info_responsive-input', placeholder: 'Password' %>
  </div>

  <div class="col-lg-12 form_div">
    <%= f.password_field :password_confirmation,required: true, class: 'info_responsive-input', placeholder: 'Password Confirmation'  %>
  </div>

  <div>
    <%= f.submit "signup", class: 'btn sign_up_form_submit' %>
  </div>

  </div>
<% end %>